@model Lab4_Cs.Models.BlogPost
@using Microsoft.AspNetCore.Http
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Blog";
}

<html>

<body>

    <h3>@Model.Title</h3>

    <div class="card">
        <div class="col-sm-12">
            <div class="card-body">
                <h6>
                    Written by: @Model.user.FirstName @Model.user.LastName @Model.user.EmailAddress
                    <br />Posted on: @Model.Posted<br />
                    </br>Content:</br>

                    <b>@Model.Content</b>

                </h6>
            </div>
        </div>
    </div>

    @*<h4>Attached Photos</h4>

        @{
            <div class="row">

                @foreach (var items in Model.photo)
                {
                    if (items.Url.Substring(items.Url.Length - 3, 3).Equals("mp4") || items.Url.Substring(items.Url.Length - 4, 4).Equals("webm"))
                    {
                        continue;
                    }

                    <div class="ig" style="text-align: center; margin:0 auto; display:inline-block;">
                        <figure>
                            <img class="rounded" style="background-color:LightGrey; border: 1px solid DarkGrey; padding:10px; margin-bottom:10px; margin-top:10px;" src="@items.Url" />
                            <figcaption>@items.fileName</figcaption>
                        </figure>
                    </div>
                }

            </div>
         }*@

        <div class="panel panel-default">
            <div class="panel-heading">Comments</div>
            <ul class="list-group">
                @if (Model.comment.Count == 0)
                {
                    <li class="list-group-item">Currently, there is no comment. Be the first to post!</li>
                }
                else
                {
                    @foreach (var item in Model.comment)
                    {

                        <div class="card">
                            <div class="col-sm-12">
                                <div class="card-body">
                                    <b> @item.Content</b><br />
                                    <p>Comment By: @item.user.FirstName @item.user.LastName     <u>@item.user.EmailAddress</u></p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </ul>
        </div>
        @if (@Context.Session.GetInt32("UserId") == null)
        {
            <div class="page-header">Log In to Comment</div>
            <a asp-controller="Home" asp-action="Login">Log In</a>
        }
        else
        {
            <form method="post" asp-controller="Home" asp-action="AddComment">
                <input type="hidden" value="@Model.BlogPostId" name="Comment.BlogPostId" />
                <input type="hidden" value='@Context.Session.GetInt32("UserId")' name="Comment.UserId" />
                <div class="form-group">
                    <label for="comment">Enter Comments:</label>
                    <div class="col-sm-12">
                        <textarea class="form-control" name="Comment.Content" rows="3" required="required"></textarea>
                    </div>
                    <br /><button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        }
    </body>

</html>


