@model IEnumerable<Lab4_Cs.Models.BlogPost>
@using Microsoft.AspNetCore.Http;

@*fill the header*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*if has notification, prompt alertion*@
@if (!string.IsNullOrEmpty(ViewBag.notification))
{
    <script>alert("@ViewBag.notification");</script>
}
@*if there is no model, show a message to indicate no blog posts*@
@if (Model == null || Model.Count() == 0)
{
    <p><h4>Currently, there are no blogs to display.</h4></p>
}
@*display blogposts if there is blog post*@
else
{   /*loop through models*/
    @foreach (var item in Model)
    {
        <br/>
        <div class="card w-100 p-3 mb-2 bg-light text-dark">
            @*if current login user is admin, allow edit and delete for each blog*@
            @if (2 == Context.Session.GetInt32("Roleid"))
            {
                <div class="card-header">
                    <h3>
                        <a asp-controller="Home" asp-action="DisplayFullBlogPost" asp-route-id="@item.BlogPostId">@item.Title</a>
                    </h3>
                    <h6>
                        (<a asp-controller="Home" asp-action="EditBlogPost" asp-route-id="@item.BlogPostId">Edit</a> |
                        <a onclick="return confirm('Make sure to delete?')" asp-controller="Home" asp-action="DeleteBlog" asp-route-id="@item.BlogPostId">Delete</a> )
                    </h6>
                </div>
                <div class="card-body">
                    <p class="card-text"><h5>@item.Content</h5></p>
                </div>
                <div class="card-footer"><h6>Posted on: @item.Posted</h6></div>
            }
            @*if current login user is general user, allow read only*@
            else
            {
                <div class="card-header"><h3><a asp-controller="Home" asp-action="DisplayFullBlogPost" asp-route-id="@item.BlogPostId">@item.Title</a></h3></div>
                <div class="card-body">
                    <p class="card-text"><h5>@item.Content</h5></p>
                </div>
                <div class="card-footer"><h6>Posted on: @item.Posted</h6></div>
            }

        </div>
    }
}
<br />
