@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "_Layout";
}




<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/bootstrap-4.4.1-dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/bootstrap-4.4.1-dist/css/bootstrap-reboot.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-end">
        <a asp-action="Index" class="nav-link active"><h1>Tt Blogs</h1></a>

        <div class="collapse navbar-collapse flex-grow-0 ml-auto mr-1" id="navbarSupportedContent">
            <ul class="navbar-nav text-right">

                @if (1 == Context.Session.GetInt32("Roleid"))
                {
                    // <label asp-for="Year" class="control-label"></label>
                <p class="navbar-text">Welcome @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")</p>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Logout" class="nav-link active">Logout</a>
                    </li>
                }
                else if (2 == Context.Session.GetInt32("Roleid"))
                {

                    <p class="navbar-text">Welcome @Context.Session.GetString("FirstName") @Context.Session.GetString("LastName")</p>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="AddBlogPost" class="nav-link active">Add Blog</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Logout" class="nav-link active">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Register" class="nav-link active">Register</a>
                    </li>
                    <li class="nav-item active">
                        <a asp-controller="Home" asp-action="Login" class="nav-link active my-2 my-sm-0">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>


    <footer style="text-align: Center">Designer: Dongxu J.</footertext-align:>
</body>

</html>

